*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(48, 21, 49);
}
.line-1{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0 2rem;
    /* margin-top: 5rem; */
}
.box-1{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(175, 169, 169);
    flex: 1;
    height: 70px;
}
.box-2{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(235, 229, 229);
    flex: 3;
    height: 70px;
}
.box-3{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(236, 229, 229);
    flex: 1;
    height: 70px;
}
.line-2{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 2rem;
}
.line-box-1{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(165, 161, 161);
    flex: 3;
    height: 70px;
}
.line-box-2{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(243, 228, 228);
    flex: 1;
    height: 70px;
}
.line-box-3{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(223, 210, 210);
    height: 70px;
    flex: 2;
}
.line-4{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.third-box-1{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(236, 227, 227);
    flex: 1;
    height: 70px;
}
.third-box-2{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(235, 230, 230);
    flex: 2;
    height: 70px;
}
.third-box-3{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(185, 171, 171);
    height: 70px;
    flex: 4;
}
.line-5{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 3rem;
}
.line-5 .box-1{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(209, 196, 196);
    flex: 2;
    height: 70px;
}
.line-5 .box-2{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(221, 218, 218);
    flex: 1;
    height: 70px;
}
.line-5 .box-3{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(185, 176, 176);
    flex: 2;
    height: 70px;
}
.line-5 .box-4{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(201, 194, 194);
    flex: 1;
    height: 70px;
}
.line-5 .box-5{
    background-color: rgb(0, 124, 128);
    border: 1px solid rgb(209, 200, 200);
    flex: 2;
    height: 70px;
}




